.thanks_card {
  border: 3px solid blue;
  border-radius: 9px;
  background-color: antiquewhite;
  line-height: 1.5;
  padding: 10px 12px;
  margin: 16px 12px;
  font-weight: bold;
}

.spinner-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
